.main{
    flex-grow: 4;
    min-height: 100%;
    padding-top: 1.5rem;
    min-width: 210px;
    justify-content: center;
   
}
.asidefirst{
    height: 500px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    color: rgba(140, 137, 137, 0.855);
    justify-content: space-between;
    text-align: center;

    margin: auto;
}
.logo{
    display: flex;
    gap: 10px;
    padding-left: 0.5rem;
    align-items: center;
}
.logotext {
    font-size: 26px;
}
