*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    min-height: 100vh;
    background-color : rgba(44,48,52,255);
    color: white;
 
}
.App{
    display: flex;
    min-height: 100vh;
}
